/*------------------------------all------------------------------*/

body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.color-white a {
  color: #ffffff;
}

.registration-link a {
  color: #ffffff;
}

.headline {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
  text-decoration: none;

  color: #ffffff;
  background-color: #ee3643;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #ca2c37;
}

.no-list-style {
  list-style: none;
}

.button-green {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: none;
  border-radius: 2px;

  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0px 3px 0px 0px #367315;
}

.button-green:hover {
  background-color: #5fbb2d;
}

.button-green:active {
  background-color: #518534;
  box-shadow: none;
}

.button-clear {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: #49556b;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-clear:hover {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.button-clear:active {
  color: #d0d2d6;
  background-color: #ffffff;
  border: 3px solid #c1c6ce;
}

/*------------------------------header------------------------------*/
.main-header {
  background-color: #f1f5f7;
}

.header-logo {
  display: block;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px 0px #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0px 0px #8e1e26;
}

.search-form input {
  background-color: transparent;
  border: 0;
}

input::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  outline: none;
}

.header-block {
  background-color: #293449;
}

.user-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
}

.marker {
  display: block;
  width: 150px;
}

.basket {
  display: block;
  width: 150px;
}

.marker:hover,
.basket:hover,
.search-form:hover {
  background-color: #212a3a;
}

.marker:active,
.basket:active {
  background-color: #161d29;
}

.order {
  display: block;
  width: 150px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.full {
  display: block;
  width: 150px;
  background-color: #ee3643;
}

.full:hover {
  background-color: #ca2c37;
}

.full:active {
  background-color: #ba2732;
}

.personal-area li {
  list-style: none;
}

.current-user a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.current-user a:hover {
  color: #000000;
}

.current-user a:active {
  color: #cacaca;
}

.personal-area-section {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;

}

.order-user a,
.personal-area a {
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.order-user a:hover,
.personal-area a:hover {
  color: #ee3643;
}

.order-user a:active,
.personal-area a:active {
  color: #cacaca;
}

.main-headline {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-weight: normal;
  width: 195px;
}

.login-section a {
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.login-section a:hover {
  color: #ee3643;
}

.login-section a:active {
  color: #b2b2b2;
}

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;


  width: 940px;
  box-shadow: 0px 5px 0px 0px #293449;
  display: inline-block;
  margin-left: 130px;
  margin-right: 130px;
  background-color: #32425c;
}

.site-navigation a {
  display: inline-block;
  text-decoration: none;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: #868c95;
  background-color: #1d2739;
}

.contacts-header a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;

  border: 3px solid #ffffff;
}

.head-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

/*------------------------------main------------------------------*/
.breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.sorting fieldset,
.sorting-feed fieldset {
  border: none;
}

.sorting legend,
.sorting-feed legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.sorting ul,
.sorting-feed ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.sorting-item:disabled+label {
  color: #999999;
  opacity: 0.5;
}

.catalog-item {
  font-size: 18px;
  line-height: 20px;

  width: 220px;
  height: 315px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
  margin: 0;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  font-weight: bold;
}

.actual-price {
  display: block;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;

  width: 141px;
  height: 38px;
  background-color: #ee3643;

  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.pagination-list a {
  text-decoration: none;
}

.service {
  background-color: #f1f5f7;
  margin: 0;
}

/*------------------------------foother------------------------------*/
.footer-logo {
  display: block;
  background-color: #ee3643;
  width: 220px;
  height: 63px;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px 0px #9a212a;
}

.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0px 0px #8e1e26;
}

.foother-contacts a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.foother-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.foother-navigation-offers {
  margin: 0;
}

.foother-navigation-site a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.foother-navigation-offers a {
  font-size: 18px;
  line-height: 24px;
  color: #f5ca7e;
}

.foother-navigation-site a,
.foother-navigation-offers a {
  text-decoration: none;
}

.foother-navigation-site a:active {
  color: #9ea5af;
  text-decoration: none;
}

.foother-navigation-offers a:active {
  color: #ad956f;
  text-decoration: none;
}

.foother-navigation-site a:hover,
.foother-navigation-offers a:hover {
  text-decoration: underline;
}

.other-information {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}

.footer-social a {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.feedback,
.footer-copyright {
  color: #ffffff;
}

.feedback a,
.footer-copyright a {
  color: #f5ca7e;
  text-decoration: none;
}

.feedback a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.feedback a:active,
.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}
