/*------------------------------all------------------------------*/

/*body>* {
  background: rgba(255, 0, 0, 0.3);
}

body>*>* {
  background: rgba(255, 255, 0, 0.3);
}

body>*>*>* {
  background: rgba(0, 0, 255, 0.3);
}

body>*>*>*>* {
  background: rgba(0, 255, 255, 0.3);
}

body>*>*>*>*>* {
  background: rgba(158, 255, 255, 0.3);
}

body>*>*>*>*>*>* {
  background: rgba(150, 150, 255, 0.3);
}
*/

/*@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&display=swap&subset=cyrillic');
*/

body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.color-white a {
  color: #ffffff;
}

.registration-link {
  color: #ffffff;
  margin-left: 10px;
}

.headline {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.button {
  /*display: block;*/
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  min-height: 38px;
  color: #ffffff;
  background-color: #ee3643;
}


.button:hover,
.button:focus,
.button:active {
  background-color: #ca2c37;
}

.no-list-style {
  list-style: none;
}


/*------------------------------header------------------------------*/
.block-wrapper {
  width: 100%;
  background-color: #293449;
  margin-bottom: 0px;
}

.container {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.block-wrapper .container {
  display: flex;
}

.main-header {
  background-color: #f1f5f7;

  margin-bottom: 60px;
  padding-bottom: 60px;
}

.header-logo {
  display: flex;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
  justify-content: center;
  align-items: center;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px 0px #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0px 0px #8e1e26;
}

.search-form {
  min-height: 42px;
  width: 270px;

  margin: 0;
  padding: 0;
}

.search-form input {
  background-color: transparent;
  border: 0;
  min-height: 42px;
  width: 270px;

  margin: 0;
  padding: 0;
}

input::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  outline: none;
}

.header-block {
  min-height: 42px;
  display: flex;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 42px;
  /*width: 470px;*/
  margin-left: auto;
}

.user-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;

}

.marker {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;

}

.basket {
  display: flex;
  width: 150px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
}

.marker:hover,
.basket:hover,
.search-form:hover {
  background-color: #212a3a;
}

.marker:active,
.basket:active {
  background-color: #161d29;
}

.order {
  display: flex;
  width: 150px;
  background-color: #63a63e;

  justify-content: center;
  align-items: center;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.full {
  width: 150px;
  background-color: #ee3643;
  justify-content: center;
  align-items: center;
}

.full:hover {
  background-color: #ca2c37;
}

.full:active {
  background-color: #ba2732;
}

.personal-area li {
  list-style: none;
}

.current-user {
  display: block;
  width: 300px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.current-user a {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;

}

.current-user a:hover {
  color: #000000;
}

.current-user a:active {
  color: #cacaca;
}

.personal-area-section {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.unlogin-link-user {
  display: none;
  position: absolute;
}

.order-user {
  display: flex;
}

.personal-area {
  display: flex;
}

.order-user a,
.personal-area a {
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.order-user a:hover,
.personal-area a:hover {
  color: #ee3643;
}

.order-user a:active,
.personal-area a:active {
  color: #cacaca;
}

.main-headline {
  box-sizing: border-box;
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-weight: normal;
  width: 300px;
  /*height: 158px;*/
  margin: 0;
  padding: 55px 40px 44px 53px;
}

.login-section {
  box-sizing: border-box;
  display: flex;
  width: 300px;
  margin-left: auto;
  align-items: center;
  /*margin-top: 47px;*/
}

.login-link {
  width: 120px;
  text-align: center;
}

.registration-link {
  width: 160px;
  text-align: center;
}

.login-section .registration-link {
  margin-left: 10px;
}

.login-section .login-link {
  margin-left: 40px;
}

.login-section a {
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 45px;
  text-decoration: none;
  height: 45px;
}

.login-section a:hover {
  color: #ee3643;
}

.login-section a:active {
  color: #b2b2b2;
}

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;
  box-shadow: 0px 5px 0px 0px #293449;
  background-color: #32425c;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

.site-navigation li {
  flex-grow: 1;
}


.site-navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 55px;
  height: 55px;

}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: #868c95;
  background-color: #1d2739;
}

.ontacts-header {
  display: flex;
  width: 300px;
}

.contacts-header {
  box-sizing: border-box;
  position: relative;
  width: 300px;
  margin-left: 20px;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 44px;
}


.contacts-header a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;
  padding: 5.5px 55px 5.5px 50px;

/*  padding-left: 60px;
  padding-right: 50px;*/

  border: 3px solid #ffffff;
}

.contacts-header::before{
  content: "";
  position: absolute;

  top: 60px;
  left: 35px;

  width: 20px;
  height: 20px;


  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.head-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-top: 10px;
}

.wraper-headline {
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin-bottom: 0;
}

/*------------------------------main------------------------------*/
/*----------------------index-------------------------------*/

.promo {
  display: flex;
  justify-content: center;
}

.wrapper-promo {
  width: 940px;
  display: flex;
  flex-direction: column;
}

.promo-list {
  display: flex;
  margin-bottom: 20px;
}

.promo-list .promo-list-item:last-child {
  margin-right: 0px;
}

.item-column .promo-list-item {
  margin-bottom: 20px;
  margin-right: 0;
}

.item-column .promo-list-item:last-child {
  margin-bottom: 0px;
}

.promo-list-item {
  display: flex;
  position: relative;
  background: #fca629;
  width: 300px;
  height: 120px;
  margin-right: 20px;
/*  padding-left: 20px;
  padding-right: 20px;*/
  justify-content: space-around;
  align-items: center;
}

/*.item-text {
  width: 55%;
}*/

.item-text h3 {
  margin-bottom: 10px;
  margin-top: 0;
}

 .item-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .1);
}

.item-text a:hover {
  background-color: rgba(0, 0, 0, .2);
}

.item-text a:active {
  background-color: rgba(0, 0, 0, .3);
}

.item-img {
   display: flex;
  justify-content: center;
  align-items: center;
/*  width: 45%;*/
}

.slider {
  background: green;
  width: 620px;
  margin-right: 20px;

}

.materials {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.mechanism {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}


.popular-wraper {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  /*background-color: #000000;*/
  background-color: #f9f5f0;
  min-height: 90px;
  display: flex;
  align-items: center;
}

.container-headline {
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;

  margin-left: 30px;
}

.popular-wraper a {
  display: block;
  box-sizing: border-box;
  /*min-height: 38px;*/

  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 13px 55px 15px;
}

.popular-goods-list {
  display: flex;
  padding: 0;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
  margin: 0 auto;
  /*  background-color: #000000;
*/
  /*justify-content: space-between;*/
}

.popular-goods-list .catalog-item:last-child {
  margin-right: 0;
}

.popular-goods-list .catalog-item:nth-child(3n) {
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}


.catalog-item {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
  width: 220px;
  min-height: 318px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;

}

.catalog-item:last-child {
  margin-right: 0px;
}

.catalog-item:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;

  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .buy::before {
  content: "";
  position: absolute;

  top: 49px;
  left: 56px;

  width: 16px;
  height: 18px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  /*  background-color: #ff0000;
*/
  opacity: 0.3;
}

.buy-2 {}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover .actions:hover .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;

  border-bottom-color: #63a63e;
}

.catalog-item:hover .actions:hover .buy:active {
  background-color: #518534;
  border: none;
}


.catalog-item:hover .actions:hover .bookmark:hover {
  color: #32425c;
  border: 3px solid #32425c;
}

.catalog-item:hover .actions:hover .bookmark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.catalog-item .image {

  width: 217px;
  height: 168px;
}

.popular-goods-list {
  font-size: 0;
}

.catalog-list {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;

  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}


.catalog-item .discount {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;

  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;


  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;

  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: -1px;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.brands-list {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/*.brands a:actve {
  opacity: 0.3;

}*/

.brands {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  align-items: center;
  justify-content: space-around;
}


.brands:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.brands:active {
  opacity: 0.3;
}



/*------------catalog----------------------------------------*/
.breadcrumbs {
  display: flex;
  min-height: 80px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
   margin-top: -60;
  padding: 0;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
}


.shop-headline {
  /*  padding-left: 30px;
*/
  background-color: #f2f6f8;
  margin-bottom: 20px;
  margin: 0;
  padding: 30px 30px;
  margin-bottom: 20px;
}

.catalog-all-items {
  display: flex;
  /*width: 940px;*/
  min-height: 1200px;
  /*flex-direction: column;*/
}

.choice {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.sorting-wraper {
  display: flex;
  min-height: 38px;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  /*  background-color: red;
*/
}

.filteres-list {
  box-sizing: border-box;
  display: block;
  width: 220px;
  min-height: 38px;
  margin: 0;
  padding: 14px 150px 14px 19px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.sorting-headline {
  box-sizing: border-box;

  display: flex;
  width: 700px;

  min-height: 38px;
  margin-left: 20px;
  padding-left: 19px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 2px;

  justify-content: space-between;
  align-items: center;

}

.filteres {
  background: yellow;
  display: block;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  min-height: 38px;
  width: 220px;
}

.filteres-cost {
  display: flex;
  width: 220px;
  min-height: 187px;

  background-color: green;
  margin: 0;
  padding: 0;
}

.filteres-list {
  display: block;
  width: 220px;
}

.sorting fieldset,
.sorting-feed fieldset {
  border: none;
}

.sorting legend,
.sorting-feed legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.sorting ul,
.sorting-feed ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.sorting-item:disabled+label {
  color: #999999;
  opacity: 0.5;
}

.catalog-list {
  /*  background-color: red;
*/
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}


.pagination-list {
  display: flex;

  padding: 0;
  margin: 0;

  min-height: 38px;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.pagination-list a {
  text-decoration: none;
}

.section-service {
  display: flex;
  box-sizing: border-box;
  background-color: #f1f5f7;
  min-height: 260px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0;
  padding-top: 68px;
  padding-bottom: 75px;
}

.section-service-wraper {
  background-color: red;
  width: 100%;
}

/*.service {
margin-top: 68px;
}*/

.wraper-ransport-company-partners {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 85px;
}

.transport-company-partners {
  width: 550px;

  min-height: 370px;
}

.map {
  width: 310px;

  min-height: 370px;
}

/*------------------------------foother------------------------------*/
.footer-top {
  display: flex;
}

.footer-logo {
  display: flex;
  background-color: #ee3643;
  width: 220px;
  height: 63px;
  box-shadow: 0px 5px 0px 0px #b52933;
  justify-content: center;
  align-items: center;
}

.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px 0px #9a212a;
}

.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0px 0px #8e1e26;
}

.foother-contacts {
  margin-top: 37px;
  margin-bottom: 53px;
}


.foother-contacts a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.foother-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts-logo-container {
  display: block;
  width: 380px;
}


.footer-top {
  background-color: #32425c;
  margin: 0;
}

.footer-navigation {
  display: block;
  width: 550px;
}

.footer-bottom {
  background-color: #293449;
}


.foother-navigation-offers {
  margin: 0;
}

.foother-navigation-site {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 35px;
  margin-left: 10px;
}

.foother-navigation-site a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.foother-navigation-offers {
  display: flex;
  /*box-sizing: border-box;*/
  justify-content: space-between;
  margin-left: 35px;
}

.foother-navigation-offers a {
  font-size: 18px;
  line-height: 24px;
  color: #f5ca7e;
  margin: 0;
}

.foother-navigation-site a,
.foother-navigation-offers a {
  text-decoration: none;
}

.foother-navigation-site a:active {
  color: #9ea5af;
  text-decoration: none;
}

.foother-navigation-offers a:active {
  color: #ad956f;
  text-decoration: none;
}

.foother-navigation-site a:hover,
.foother-navigation-offers a:hover {
  text-decoration: underline;
}

.footer-bottom {

  padding-top: 40px;
  padding-bottom: 0;
}

.other-information {
  width: 240px;
  min-height: 105px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}

.footer-social {
  min-height: 105px;
  width: 160px;
  margin-left: 140px;
}

.footer-social a {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.feedback {
  min-height: 105px;
  width: 160px;
  margin-left: 90px;
}

.footer-copyright {
  min-height: 105px;
  width: 160px;
  margin-left: 10px;

}

.feedback,
.footer-copyright {
  color: #ffffff;
}

.feedback a,
.footer-copyright a {
  color: #f5ca7e;
  text-decoration: none;
}

.feedback a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.feedback a:active,
.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

/*----------------test------------------------*/
